* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
.colors {
    color: white;
    font-weight: 700;
}
.colors1 {
    color: greenyellow;
    font-weight: 700;
}
.colors2 {
    color: black;
}
.center-position {
    left: 27%;
}
.my-width {
    width: 50%;
}
.sticky  {
    position: sticky; 
    bottom: 12%;
    height: 30px;
}
.padding-item {
  padding: 5px 10px;
  color: white;
  background-color: rgb(6, 183, 9);
  font-size: 20px;
}
.margine-item {
    margin: 0;
}
.low-price {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 4px;
}
.low-price1 {
    background-color: rgb(209, 209, 12);
    color: white;
    text-align: center;
    border-radius:7px;
    padding: 5px;
}























@media (max-width:992px) {
    section {
        max-width: 100%;
        overflow-x: hidden  ;
    }
    .my-width {
        width: 100%;
    }
    .center-position {
        left: 0 ;
    }
}
